# This is a configuration file in standard configuration file format
#
# Lines beginning with a hash or a semicolon are ignored by the application
# program. Blank lines are also ignored by the application program.

[DEFAULT]
# This is the API key of the user account
api_key: sample_default_api_key-us1 

# This is the list ID of the particular list
list_id: sample_default_list_id

# File path of the CSV files. Example: sample_data\exports
file_path: sample_data

[USER]
# This is the API key of the user account
api_key: sample_user_api_key

# This is the list ID of the particular list
list_id: sample_user_list_id

# File path of the CSV files. Example: sample_data\exports
file_path: sample_data